<div style="text-align: center">
    <div class="container">
      <div class="row header">
        <div class="col-xs-12">
          <a style="color:white;">Edwisor Blog Application</a>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
       
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/blog/:blogId'">Post a blog</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>